.projects-container {
    display: grid;
    row-gap: 60px;
    width: 100%;
    padding: 0 5%;
}

@media (min-width: 1000px) {
    .projects-container {
        padding: 0 9%;
    }
}

@media (min-width: 1200px) {
    .projects-container {
        padding: 0 13%;
    }
}

.projects-container .project-title {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects-container .project-title h2 {
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
}

.projects-container .project-title .bar {
    height: 3px;
    width: 200px;
    border-radius: 1.5px;
    background-color: #049394;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
}

.each-project-container {
    display: grid;
    grid-template-columns: 1fr 410px;
    width: 100%;
    height: 430px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.each-project-container .project-info {
    width: 100%;
    padding: 10% 7%;
}

.each-project-container .project-info h3 {
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    margin: 0;
}

.each-project-container .project-info p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #6b6b6b;
}

.each-project-container .view-project-container {
    display: flex;
    align-items: center;
}

.view-project-container a {
    text-decoration: none;
}

.each-project-container .view-project-container .view-project-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    width: 155px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: white;
    background-color: #049394;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin-right: 60px;
}

.view-project-container .social-icon {
    font-size: 43px;
    color:#049394;
}

/* PROJECT IMAGE SEXTION */
.each-project-container .project-img {
    display: flex;
    width: 420px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding: 4%;
}

.each-project-container .project-img img {
    max-height: 430px;
    object-fit: contain;
    justify-self: center;
    margin-bottom: 25px;
}

.each-project-container .project-img .tracking-balls {
    position: absolute;
    background-color: #b8b8b8c7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100px;
    justify-items: center;
    bottom: 4%;
    left: 50%;
    margin-left: -50px;
    z-index: 4;
    border-radius: 5px;
    height: 12px;
    align-items: center;
}

.each-project-container .project-img .tracking-balls .track-ball {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 4;
    background-color: #ffffff85;
}

.each-project-container .active-ball {
    border: 1px solid #049394;
    background-color: #049394;
}

.each-project-container .go-back-image-button {
    position: absolute;
    left: 10%;
    bottom: 3%;
    font-size: 25px;
    color: #049394;
    cursor: pointer;
}

.each-project-container .go-next-image-button {
    position: absolute;
    right: 10%;
    bottom: 3%;
    font-size: 25px;
    color: #049394;
    cursor: pointer;
}