.hero-banner {
    display: grid;
    grid-template-columns: 65fr 35fr;
    height: 400px;
    margin-bottom: 80px;
    width: 100%;
}

.hero-banner .hero {
    margin-top: 54px;
    margin-left: 10%;
    height: auto;
}

.hero-banner .hero h1 {
    font-weight: 700;
    font-size: 52px;
    font-family: 'Quicksand', sans-serif;
    line-height: 120%;
    margin: 0;
    padding: 0;
    color: #25282B;
    margin-bottom: 20px;
    max-width: 600px;
}

.hero-banner .hero h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #049394;
    margin: 0;
    padding: 0;
}

.hero-banner .hero p {
    height: auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #6b6b6b;
    margin: 0;
    padding: 0;
}

.hero-banner .hero-nav {
    height: 46px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0;
}

.hero-banner .hero-nav a {
    text-decoration: none;
    color:#049394;
    font-size: 24px;
}

.hero-banner .hero-banner-img {
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    height: auto;
    width: 90%;
    overflow: hidden;
}

.hero-banner .hero-banner-img img {
    height: auto;
    width: 100%;
}