.hero-banner-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 16px;
}

.hero-banner-mobile .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner-img {
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
}

.hero-banner-img img {
    width: 250px;
}

.hero-banner-mobile .hero h3 {
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #049394;
}

.hero-banner-mobile .hero h1 {
    font-size: 44px;
    font-family: 'Quicksand', sans-serif;
    line-height: 115%;
    margin: 24px 0 16px;
}

.hero-banner-mobile .hero p {
    height: auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #6b6b6b;
    margin: 0;
    padding: 0;
    max-width: 340px;
}

.hero-banner-mobile .status-badge {
    font-size: 14px;
    text-align: left;
    max-width: 340px;
}

.hero-banner-mobile .hero-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.hero-banner-mobile .hero-nav a {
    text-decoration: none;
    color:#049394;
    font-size: 24px;
}

.hero-banner-mobile .hero-nav .cv-button {
    color: #fff;
    font-size: 17px;
}

.hero-banner-mobile .hero-social {
    display: flex;
    gap: 30px;
}
