.nav-bar {
    height: 80px;
    width: 100%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: aqua;
    align-items: center;
}

.nav-bar-button {
    height: 40px;
    width: 40px;
    justify-self: end;
}

.hidden-nav-bar {
    width: 0%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: .4s ease-in-out;
}

.hidden-nav-bar-actived {
    width: 100%;
    transition: .4s ease-in-out;
}

.close-nav-bar {
    position: fixed;
    right: 10px;
    top:10px;
}

.nav-bar-link-list {
    display: none;
}

@media (min-width: 768px) {
    .nav-bar-button {
        display: none;
    }
    .nav-bar-link-list {
        display: block;
    }
}