.nav-bar {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 5;
    padding: 0px 5%;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
}

.name-logo {
    text-decoration: none;
    color: #25282B;
}

.nav-bar-link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: flex-end;
    list-style: none;
}

.nav-link {
    max-width: 100px;
    margin-left: 20px;
}

@media (min-width: 500px) {
    .nav-bar-link-list {
        column-gap: 30px;
    }
    .nav-link {
        margin: 0;
    }
}

.link {
    text-decoration: none;
    color: #25282B;
}