.footer-container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.footer-container span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #6b6b6b;
}